@font-face {
    font-family: GTFAgenturTRIAL-Regular;
    src: url("assets/fonts/GTFAgenturTRIAL-Regular.otf") format("opentype");
}



html{
	cursor: url(""),auto;
}


body {
	background-color: black;
	/*background-image : url("http://s3.amazonaws.com/spoonflower/public/design_thumbnails/0204/6219/quarter-inch-grid.pdf_mirror.png");
	font-family: Avenir */
}

div.header{
	margin: 40px 0px 0px 40px;
	/*margin: top right bottom left*/
	text-align: left;
}

div.mainstage{
	margin: -67px 0px 0px 40px;
	/*margin: top right bottom left*/
	text-align: left;
}

div.backstage{
	margin: 600px 50px 0px 0px;
	/*margin: top right bottom left*/
	text-align: right;
}



/*div.intro{
	margin: 45px 0px 0px 115px;
	margin: top right bottom left
	text-align: left;

}*/

h1 {
	font-family:GTFAgenturTRIAL-Regular;
	color: white;
	font-size: 20px;
}

