@font-face {
    font-family: GTFAgenturTRIAL-Regular;
    src: url("assets/fonts/GTFAgenturTRIAL-Regular.otf") format("opentype");
}



html{
	cursor: url(""),auto;
}


body {
	background-color: white;
	/*background-image : url("http://s3.amazonaws.com/spoonflower/public/design_thumbnails/0204/6219/quarter-inch-grid.pdf_mirror.png");
	font-family: Avenir */
}

div.header{
	margin: 30px 0px 0px 40px;
	/*margin: top right bottom left*/
	text-align: left;
}

div.mainstage{
	margin: -42px 0px 0px 40px;
	/*margin: top right bottom left*/
	text-align: left;
}

div.backstage{
	margin: 620px 50px 0px 0px;
	/*margin: top right bottom left*/
	text-align: right;
}



/*div.intro{
	margin: 45px 0px 0px 115px;
	margin: top right bottom left
	text-align: left;

}*/

h1 {
	font-family:GTFAgenturTRIAL-Regular;
	color: black;
	font-size: 22px;
}

